.list-user-container {
    .title {
        margin-bottom: 20px;
    }
    .list-user-content { 
        .child {
            // border: 1px solid gray;
            width: 400px;
            margin: 0 auto;
            // border-bottom: 1px solid transparent;
            border: 1px solid green;
            box-shadow: 0 0 0 1px green;
        }
    }
}